<p> Your pizza order <%= @pizza.id() %> was updated! </p>
<p> Customer first name: <%= @pizza.first_name() %></p>
<p> Customer last name: <%= @pizza.last_name() %></p>
<p> Pizza topping: <%= @pizza.topping() %></p>
<p> Quantity: <%= @pizza.quantity() %></p>


